<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Sessões" tabIcon="man"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Alunos" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Presenças" tabIcon="people"></ion-tab>
</ion-tabs>
