<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
	<img src="./assets/imgs/logo_iotch.png">
	<h5>ioChallenge by</h5>
	<h6>João Ferreira</h6>
</ion-content>
